<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECommerce</title>
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
        .btn-group {
            bottom: 15px;
            position: relative;
            top: -35px;

        }
    </style>
</head>
<body class="container">
<div class="page-header">
    <h1>MMall
        <small>Diskon 99%</small>
    </h1>
    <div class="pull-right">
        <div class="btn-group">
            {% if not user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'signin' %}">Login</a>
            {% else %}
            <a class="btn btn-primary" href="{% url 'signout' %}">Logout</a>
            {% endif %}
        </div>
    </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>